---
import Icon from '../components/Icon.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import tanmay from '@media/tanmay2.jpg';

const currentYear = new Date().getFullYear();
const yearsOfExperience = currentYear - 2017;
---

<BaseLayout title="About | Tanmay Band" description="About Tanmay Band Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by!"
			>
				<Image
					height={500}
					src={tanmay}
					alt="Tanmay Band at work with a colleague"
					style="margin: auto"
				/>
			</Hero>

			<section>
				<h2 class="section-title">
					<Icon icon="book" color="var(--accent-regular)" size="2.5rem" gradient /> Background
				</h2>
				<div class="content">
					<p>
						Games hold a fascinating power to tell engaging stories and create immersive experiences. They have always been a huge part of my life, from the early days of playing on my home PC and making my own games in PowerPoint, to eventually pursuing a career in the industry.
					</p>
					<br/>
					<p>
						While I excel at creating modular systems that slot in easily, I take joy in prototyping experimental games and with quirky mechanics. If something sounds challenging or absurd, I am already on it. With research as my backbone, the unknown is a friend! 
					</p>
					<br/>
					<p>
						With about {yearsOfExperience} years of experience as a developer, I've had the opportunity to work on a wide variety of projects. Each one has taught me valuable lessons not only about game design and programming, but also planning and collaboration. I value open and clear communication, and put great efforts into it while working with other developers, and across disciplines with artists and designers.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title" id="toolkit">
					<Icon icon="gear" color="var(--accent-regular)" size="2.5rem" gradient /> Toolkit
				</h2>
				<div class="content">
					<ul>
            <li><strong>Engines: </strong>Unreal Engine 5, Unity, Unreal Engine for Fortnite (UEFN)</li>
            <li><strong>Languages: </strong>C++, C#, Unreal Blueprints, Verse, Node.js, Python</li>
            <li><strong>Server: </strong>AWS</li>
            <li><strong>CI/CD: </strong>Jenkins, GitHub Actions</li>
            <li><strong>Creative: </strong>Blender, Krita, Inkscape</li>
            <li><strong>Documentation: </strong>Markdown, Obsidian</li>
        </ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">
					<Icon icon="puzzle-piece" color="var(--accent-regular)" size="2.5rem" gradient /> Skills
				</h2>
				<div class="content">
					<ul>
						<li>Plug-and-play systems</li>
						<li>Scalable architecture</li>
						<li>Clear documentation</li>
						<li>Cross-functional collaboration</li>
						<li>Player experience intuition</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">
					<Icon icon="graduation-cap" color="var(--accent-regular)" size="2.5rem" gradient /> Education
				</h2>
				<div class="content">
					<p>Bachelor of Technology (B. Tech) in Computer Science & Engineering</p>
					<p class="institute">Visvesvaraya National Institute of Technology (2013 - 2017)</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		scroll-margin-top: 5rem;
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.content :global(ul) {
		padding-inline-start: 1rem;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

		.section-title {
			text-align: center;
		}
	}
	
	.institute {
		font-style: italic;
	}
</style>
