---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside>
	<h2>Wanna build <span class="something-cool">something cool</span> together?</h2>
	<CallToAction href="mailto:tanmayband+hi@gmail.com">
		Say hi!
		<Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
</aside>

<style>
	aside {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		border-top: 1px solid var(--gray-800);
		border-bottom: 1px solid var(--gray-800);
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 30ch;
	}

	.something-cool {
		background: linear-gradient(to right, #c4b000, #ffb889, #c4b000);
		-webkit-text-fill-color: transparent; -webkit-background-clip: text;
		/* -webkit-text-stroke: 1px var(--gray-50); */
	}

	@media (min-width: 50em) {
		aside {
			padding: 2rem 5rem;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
		}
	}
</style>
